<div class="ui grid">
	<div class="four wide column"></div>
	<div class="eight wide column">
		<div class="ui segment">
			<div class="ui minimal comments">
				<div class="ui dividing header">留言</div>

				<%= comments.forEach(comment => { %>
					<div class="comment">
						<span class="avatar">
							<img src="/img/<%= comment.author.avatar %>" alt="">
						</span>
					</div>
					<div class="content">
						<a href="/posts?author=<%= comment.author._id %>" class="author"><%= comment.author.name %></a>
						<div class="metadata">
							<span class="date"><%= comment.created_at %></span>
						</div>
						<div class="text"><%= comment.content %></div>

						<% if (user && comment.author._id && user._id.toString() === comment.author._id.toString()) { %>
							<div class="actions">
								<div class="reply" href="/posts/<%= post._id %>/comment/<%= comment._id %>/remove">删除</div>
							</div>
						<% } %>
					</div>
				<% }) %>

				<% if (user) { %>
					<form action="/posts/<%= post._id %>/comment" class="ui reply form" method="post">
						<div class="field"><textarea name="content" ></textarea>
						</div>
						<input type="submit" class="ui icon button" value="留言">
					</form>
				<% } %>
			</div>
		</div>
	</div>
</div>